*.db
*.png
*.jpg
*.xlsx
*.xls
!example.xlsx
!dns_win11.png
!dns_win10.png
!status.png
*.log
keystore.json
__pycache__/
*.yml
!config-example.yml
appsettings.json
device.json
.vscode
.idea
.venv
.prettierignore
KiKi_Bot服务.lnk
Lagrange服务.lnk
